:root {
    --horizontal-margin: 50px;
    --container-top-margin: 50px;
    --buttons-top-margin: 10px;
}

body {
    font-family: "Bradley Hand", cursive;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    background-color: #f0f0f5;
}

.cancel-button,
.done-button {
    width: 100%;
    margin-top: var(--buttons-top-margin);
    padding: 10px;
    background-color: #4a4b4f;
    color: #fff;
}

.aligner {
    max-width: auto;
    margin: var(--container-top-margin) var(--horizontal-margin);
}

.container {
    width: 100%;
    padding: 10px;
    margin-top: var(--container-top-margin);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.note-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px;
    vertical-align: top;
}

.note-body {
    font-size: 14px;
    color: #2c2c37;
    margin-top: 5px;
}

.note-time {
    font-size: 12px;
    color: #a1a1a6;
    margin-top: 5px;
}